In [ ]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

url = 'https://rate.bot.com.tw/xrt?Lang=zh-TW'

In [ ]:
r = requests.get(url).text
soup = BeautifulSoup(r,'lxml')
currency = soup.find_all("div",class_="visible-phone print_hide")[0].text.strip().split("\r\n")
bought_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金買入'})[0].text
sold_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金賣出'})[0].text
bought_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期買入'})[0].text
sold_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期賣出'})[0].text

In [ ]:
len(soup.find_all("div",class_="visible-phone print_hide"))

In [ ]:
exchange_df = pd.DataFrame()
for num in range(len(soup.find_all("div",class_="visible-phone print_hide"))):

    name = soup.find_all("div",class_="visible-phone print_hide")[num].text.strip().split("\r\n")[0].split(" ")[0]
    currency = soup.find_all("div",class_="visible-phone print_hide")[num].text.strip().split("\r\n")[0].split(" ")[1][1:-1]
    bought_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金買入'})[num].text
    sold_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金賣出'})[num].text
    bought_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期買入'})[num].text
    sold_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期賣出'})[num].text

    exchange_series = pd.Series({"name":name,"currency":currency,"bought_cash_exchange_rate":bought_cash_exchange_rate,"sold_cash_exchange_rate":sold_cash_exchange_rate,"currencybought_spot_exchange_rate":bought_spot_exchange_rate,"sold_spot_exchange_rate":sold_spot_exchange_rate,},name=num)
    exchange_df = exchange_df.append(exchange_series)

exchange_df = exchange_df.replace('-','NaN')

In [ ]:
exchange_df

In [ ]:
soup.find_all("div",class_="visible-phone print_hide")[0].text.strip().split("\r\n")

In [19]:
exchange_df[['name','currency']]

    name currency
0     美金      USD
1     港幣      HKD
2     英鎊      GBP
3     澳幣      AUD
4   加拿大幣      CAD
5   新加坡幣      SGD
6   瑞士法郎      CHF
7     日圓      JPY
8    南非幣      ZAR
9    瑞典幣      SEK
10    紐元      NZD
11    泰幣      THB
12  菲國比索      PHP
13   印尼幣      IDR
14    歐元      EUR
15    韓元      KRW
16   越南盾      VND
17   馬來幣      MYR
18   人民幣      CNY

In [1]:
import requests
import pandas as pd

from bs4 import BeautifulSoup

url = 'https://rate.bot.com.tw/xrt?Lang=zh-TW'
r = requests.get(url).text
soup = BeautifulSoup(r,'lxml')


exchange_df = pd.DataFrame()
for num in range(len(soup.find_all("div",class_="visible-phone print_hide"))):

    name = soup.find_all("div",class_="visible-phone print_hide")[num].text.strip().split("\r\n")[0].split(" ")[0]
    currency = soup.find_all("div",class_="visible-phone print_hide")[num].text.strip().split("\r\n")[0].split(" ")[1][1:-1]
    bought_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金買入'})[num].text
    sold_cash_exchange_rate = soup.find_all('td',attrs={'data-table':'本行現金賣出'})[num].text
    bought_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期買入'})[num].text
    sold_spot_exchange_rate = soup.find_all('td',attrs={'data-table':'本行即期賣出'})[num].text

    exchange_series = pd.Series({"name":name,"currency":currency,"bought_cash_exchange_rate":bought_cash_exchange_rate,"sold_cash_exchange_rate":sold_cash_exchange_rate,"currencybought_spot_exchange_rate":bought_spot_exchange_rate,"sold_spot_exchange_rate":sold_spot_exchange_rate,},name=num)
    exchange_df = exchange_df.append(exchange_series)

exchange_df = exchange_df.replace('-','NaN')

exchange_df

,bought_cash_exchange_rate,currency,currencybought_spot_exchange_rate,name,sold_cash_exchange_rate,sold_spot_exchange_rate
0,28.11,USD,28.435,美金,28.78,28.585
1,28.11,HKD,28.435,港幣,28.78,28.585
2,3.522,GBP,3.643,英鎊,3.726,3.713
3,3.522,AUD,3.643,澳幣,3.726,3.713
4,36.69,CAD,37.585,加拿大幣,38.81,38.215
5,36.69,SGD,37.585,新加坡幣,38.81,38.215
6,20.48,CHF,20.695,瑞士法郎,21.26,21.04
7,20.48,JPY,20.695,日圓,21.26,21.04
8,21.33,ZAR,21.66,南非幣,22.24,21.99
9,21.33,SEK,21.66,瑞典幣,22.24,21.99
10,20.69,NZD,21.16,紐元,21.6,21.38
11,20.69,THB,21.16,泰幣,21.6,21.38
12,30.52,PHP,31.13,菲國比索,31.72,31.52
13,30.52,IDR,31.13,印尼幣,31.72,31.52
14,0.2651,EUR,0.2721,歐元,0.2779,0.2767
15,0.2651,KRW,0.2721,韓元,0.2779,0.2767
16,NaN,VND,1.817,越南盾,NaN,1.907
17,NaN,MYR,1.817,馬來幣,NaN,1.907
18,2.94,CNY,3.27,人民幣,3.46,3.39